@{
    ViewBag.Title = "Slider";
}

<hgroup>
    <h2>Slider Test Page</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

@section Scripts
{
    <script type="text/javascript">
        $.getScript('//dev.payboard.com/Scripts/838D5FA5-7E55-4A04-9789-98F49F4CE328', function () {
            Payboard.Booster.checkForBoosterTarget();
        });
    </script>
}